#服务信息
info:
    app:
        name: zcx-service
        description: zcx服务
        owner:
            - zuochuanxiu
        emails:
            - zuochuanxiu@ecej.com
        env: ${SPRING_PROFILES_ACTIVE}
        java-version: ${java.version}

#默认环境配置
server:
    port: 8081

#druid
#初始化大小，最小，最大
initialSize: 5
minIdle: 5
maxActive: 20
# 配置获取连接等待超时的时间
maxWait: 60000
# 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
timeBetweenEvictionRunsMillis: 60000
# 配置一个连接在池中最小生存的时间，单位是毫秒
minEvictableIdleTimeMillis: 300000
validationQuery: SELECT 1
testWhileIdle: true
testOnBorrow: false
testOnReturn: false
# 打开PSCache，并且指定每个连接上PSCache的大小
poolPreparedStatements: true
maxPoolPreparedStatementPerConnectionSize: 20
# 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
filters: stat,wall,log4j
# 通过connectProperties属性来打开mergeSql功能；慢SQL记录
connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=3000

#dev环境相关配置,覆盖上面的默认配置
---
spring:
    profiles: dev
datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/mysql?useUnicode=true&amp;characterEncoding=UTF-8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver

#pub环境相关配置,覆盖上面的默认配置
---
spring:
    profiles: qa
datasource:
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/zcx?useUnicode=true&amp;characterEncoding=UTF-8&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver


#prod环境相关配置,覆盖上面的默认配置
---
spring:
    profiles: prod

